
@font-face {
    font-family: Gotham-Medium;
    src: url(../font/iCiel\ Gotham-Medium.ttf);
}

@font-face {
    font-family: Gotham-Ultra;
    src: url(../font/iCiel\ Gotham-Ultra.ttf);
}

@font-face {
    font-family: Gotham-Thin;
    src: url(../font/font/iCiel-fonts/iCiel\ Gotham-Thin.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(239, 239, 239);
}

* {
    box-sizing: border-box;
    /* font-family: 'Gotham-Medium'; */
    outline: none;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.slider {
      /* width: 100%; */
      /* margin: 0px auto; */
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: #bd945f;
}

.slick-slide {
    transition: all ease-in-out .3s;
    /* opacity: .2; */
}
  
.slick-active {
    /* opacity: .5; */
}

.slick-current {
    opacity: 1;
}
.container {
    max-width: 1110px;
}

/* header */

#header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    font-family: Gotham-Medium;
    transition: all 1s ease;
}
header.sticky a img {
    height: 3.5rem;
}
header.sticky .sub-nav {
    font-size: 16px;
} 
#header .header-nav {
    font-size: 20px;
}

#header .sub-nav a {
    position: relative;
}

#header .sub-nav a::before {
    position: absolute;
    content: '';
    width: 0px;
    height: 2px;
    top: 90%;
    left: 10%;
    border-bottom: 0.3rem solid #bd945f;
    transition: all 0.3s ease;
}
#header .sub-nav a:hover::before {
    width: 60px;
}
@media screen and (max-width: 991px) {
    #header .sub-nav a::before {
        position: absolute;
        content: '';
        width: 0px;
        height: 2px;
        top: 90%;
        left: 0;
        border-bottom: 0.3rem solid #bd945f;
        transition: all 0.3s ease;
    }
    
}
/* responsive button next, prev */
@media (max-width: 767px){
    .slick-next {
        display: none !important;
    }
    .slick-prev {
        display: none !important;
    }
}
/* responsive banner */
@media screen and (max-width: 767px) {
    #banner .banner-content {
        padding: 34px;
    }
    #banner .banner-content p{
        font-size: 20px !important;
    }
    #banner .banner-content img {
        width: 75px;
        height: 76px;
    }
    #banner .banner-img {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 767px) {
    .content-section {
        margin-top: -14px !important;
    }
}

/* footer */

#footer {
    background-color: #363636;
    padding: 70px 0 50px 0;
    font-family: Gotham-Medium;
}
#footer h5 {
    color: #fff;
    position: relative;
    padding: 5px 0;
    margin-bottom: 18px;
}
#footer h5::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 60px;
    height: 1px;
    border-top: 4px solid #fff;
}
#footer h4 {
    color: #fff;
    margin-top: 24px;
}
#footer ul {
    display: block;
    padding-left: 0;
}
#footer li {
    margin-bottom: 16px;
}
#footer li a {
    color: #fff;
}






/* designer */
.designer {
    text-align: center;
    padding: 20px 0;
    font-family: Gotham-Medium;
}
.designer span {
    color: #bd945f;
}
@media (max-width: 767px) {
    .designer {
        font-size: 14px;
    }
}
/* end designer */
