
/* header */
#header .sub-nav .a::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    top: 90%;
    left: 10%;
    border-bottom: 0.3rem solid #bd945f;
    transition: 0.3s ease;
}
@media screen and (max-width: 991px) {
    #header .sub-nav .a::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 2px;
        top: 90%;
        left: 0;
        border-bottom: 0.3rem solid #bd945f;
        transition: 0.3s ease;
    }
}
/* banner */
#banner {
    margin-top: 123px;
    position: relative;
}
#banner .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#banner .banner-content img {
    display: block;
    margin: 0 auto;
}
#banner .banner-content p {
    color: #fff;
    font-size: 45px;
    font-family: Gotham-Ultra;
}

/* Thành lập và phát triển */
#section {
    margin-bottom: 100px;
}
#section .content-section {
    position: relative; 
    margin-top: -40px;
}
#section .title {
    text-align: center;
    margin-bottom: 60px;
    color: #2c2e53;
    font-size: 32px;
    text-transform: uppercase;
    font-family: Gotham-Ultra;
}
#section .title {
    position: relative;
    padding-top: 60px;
}
#section .title::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 1px;
    border-top: 4px solid #bd945f;
}
#section .section-content {
    font-size: 1em;
    text-align: justify;
    font-family: Gotham-Medium;
}
/* xứ mệnh */
.title-reason {
    margin-top: 80px;
}

.reason {
    border: 3px solid #bd945f;
    padding: 16px;
    display: flex;
    align-items: center;
    height: 114px;
    margin-bottom: 24px;
}

.reason .reason-title {
    color: #bd945f;
    font-size: 0.9em;
    margin-bottom: 8px;
    font-family: Gotham-Medium;
    text-transform: uppercase;
}

.reason .reason-desc {
    color: #2c2e53;
    font-size: 0.9em;
    text-align: justify;
    margin-bottom: 0;
    font-family: Gotham-Medium;
}

.reason .reason-content {
    margin-left: 16px;
}

.reason .reason-img {
    display: flex;
    align-items: center;
}
.reason .reason-img img {
    /* max-width: 5rem; */
}

/* footer */
#footer {
    background-color: #363636;
    padding: 70px 0;
}
#footer h5 {
    color: #fff;
    position: relative;
    padding: 5px 0;
    margin-bottom: 18px;
}
#footer h5::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 60px;
    height: 1px;
    border-top: 4px solid #fff;
}
#footer h4 {
    color: #fff;
}
#footer ul {
    display: block;
    padding-left: 0;
}
#footer li a {
    color: #fff;
}