
@media screen and (max-width: 767px) {
    #banner .banner-content {
        padding: 34px;
    }
    #banner .banner-content p{
        font-size: 20px !important;
    }
    #banner .banner-content img {
        width: 56px;
        height: auto;
    }
    #banner .banner-img img {
        height: 10rem !important;
    }
}
/* header */
#header .sub-nav .a::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    top: 90%;
    left: 10%;
    border-bottom: 0.3rem solid #bd945f;
    transition: 0.3s ease;
}
@media screen and (max-width: 991px) {
    #header .sub-nav .a::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 2px;
        top: 90%;
        left: 0;
        border-bottom: 0.3rem solid #bd945f;
        transition: 0.3s ease;
    }
}
/* banner */
#banner {
    margin-top: 122px;
    position: relative;
}
#banner .banner-img img {
    width: 100%;
    height: auto;
}
#banner .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#banner .banner-content img {
    display: block;
    margin: 0 auto;
}
#banner .banner-content p {
    color: #fff;
    font-size: 40px;
    font-family: Gotham-Ultra;
    text-transform: uppercase;
}

/* contact */
#contact {
    margin-bottom: 70px;
}
#contact .box-form .contact-title {
    font-size: 24px;
    color: #bd945f;
    text-transform: uppercase;
    font-family: Gotham-Ultra;
}

#contact .box-form input {
    width: 100%;
    border: 2px solid #bd945f;
    margin-bottom: 16px;
    padding: 16px 16px;
    font-family: Gotham-Medium;
}

#contact .box-form .submit {
    background-color: #bd945f;
    display: inline-block;
    padding: 16px 46px;
    border: #bd945f;
    color: #fff;
    font-family: Gotham-Medium;
}
@media screen and (max-width: 767px) {
    .contact-title {
        font-size: 18px;
        margin-top: 6px;
    }
}
