/* header */

#header .sub-nav .a::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    top: 90%;
    left: 10%;
    border-bottom: 0.3rem solid #bd945f;
    transition: 0.3s ease;
}
@media screen and (max-width: 991px) {
    #header .sub-nav .a::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 2px;
        top: 90%;
        left: 0;
        border-bottom: 0.3rem solid #bd945f;
        transition: 0.3s ease;
    }
}
/* slide */
#slide {
    margin-top: 120px;
}
#slide .slide-item img {
    position: relative;
}
#slide .slide-item .carousel-btn  {
    position: absolute;
    top: 60%;
    left: 70%;
}
#slide .carousel-btn .btn-buy {
    background-color: #fff;
    color: #363636;
    padding: 12px 14px;
    font-family: Gotham-Medium;
}

/* product */

#select-option{
    font-family: Gotham-Medium;
    font-size: 14px;
}
#select-option .color a{
    color: #bd945f;
}

.room .title {
    position: relative;
    text-transform: uppercase;
    padding-top: 40px;
    color: #2c2e53;
    font-family: Gotham-Ultra;
}
.room .title::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    /* transform: translateX(-50%); */
    width: 120px;
    height: 2px;
    border-top: 4px solid #bd945f;
}
.room .see-all {
    padding-top: 40px;
    text-transform: uppercase;
    font-family: Gotham-Medium;
}
.room .see-all a {
    color: #2c2e53;
}
.room .see-all a:hover {
    color: #234bce;
}

.room .product .product-title,
.room .product .product-icon,
.room .product .product-content,
.room .product .product-price {
    text-align: center;
}
.room .product .product-title .card-title{
    color: #2c2e53;
    font-size: 18px;
    font-family: Gotham-Ultra;
    color: #2c2e53;
}
.room .product .product-icon {
    color: rgb(219, 219, 54);
    font-size: 18px;
}
.room .product .product-content {
    font-size: 16px;
    opacity: 0.5;
    font-family: Gotham-Medium;
}
.room .product .product-price {
    font-size: 16px;
    font-family: Gotham-Medium;
}

@media screen and (max-width: 767px) {
    .carousel-item img {
        width: 100%;
        height: auto;
    }
    .carousel-item .btn-buy {
        font-size: 8px;
        padding: 6px 7px !important;
    }
    .title {
        font-size: 18px;
    }
    .see-all {
        font-size: 14px;
    }
}