/* header */

#header .sub-nav .a::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    top: 90%;
    left: 10%;
    border-bottom: 0.3rem solid #bd945f;
    transition: 0.3s ease;
}
@media screen and (max-width: 991px) {
    #header .sub-nav .a::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 2px;
        top: 90%;
        left: 0;
        border-bottom: 0.3rem solid #bd945f;
        transition: 0.3s ease;
    }
}
/* news */
#news {
    margin-top: 200px;
    margin-bottom: 100px;
}
#news .news-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    text-transform: uppercase;
    color: #2c2e53;
    font-family: Gotham-Ultra;
}
#news .news-title::before {
    position: absolute;
    content: '';
    width: 162px;
    height: 2px;
    border-top: 4px solid #bd945f;
    top: 100%;
}
#news .content p {
    text-align: justify;
}
#news .content .content-heading a {
    color: #bd945f;
    font-family: Gotham-Ultra;
}
#news .content .content-desc {
    font-family: Gotham-Medium;
    font-size: 16px;
}
