/* header */
#header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}
#header .header-nav {
    font-size: 20px;
}
#header .sub-nav .a::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    top: 90%;
    left: 10%;
    border-bottom: 0.3rem solid #bd945f;
    transition: 0.3s ease;
}
@media screen and (max-width: 991px) {
    #header .sub-nav .a::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 2px;
        top: 90%;
        left: 0;
        border-bottom: 0.3rem solid #bd945f;
        transition: 0.3s ease;
    }
}
/* news */
#news {
    margin-top: 200px;
    margin-bottom: 100px;
}
#news .news-title {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    text-transform: uppercase;
    color: #363636;
}
#news .news-title::before {
    position: absolute;
    content: '';
    width: 162px;
    height: 2px;
    border-top: 4px solid #bd945f;
    top: 100%;
}
#news .content p {
    text-align: justify;
    width: 90%;
}
#news .content .content-heading a {
    color: #bd945f;
    font-weight: 600;
}


/* footer */
#footer {
    background-color: #363636;
    padding: 70px 0;
}
#footer h5 {
    color: #fff;
    position: relative;
    padding: 5px 0;
    margin-bottom: 18px;
}
#footer h5::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 60px;
    height: 1px;
    border-top: 4px solid #fff;
}
#footer h4 {
    color: #fff;
}
#footer ul {
    display: block;
    padding-left: 0;
}
#footer li a {
    color: #fff;
}